.banner {
    background-color: #005b9e;
    color: #fff;
    padding: 10px 0;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
    }

    &__title {
        font-size: 1rem;
    }

    &__pages a {
        color: #fff;
        text-decoration: none;
        margin-left: 20px;
        font-size: .9rem;
    }

    &__pages a:first-child {
        margin-left: 0;
    }


    @media screen and (max-width: 768px) {
        padding: 10px 1rem !important;

        &__pages {
            font-size: 1rem;
        }
    }

}